[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/ruby-complete"]
	path = vim/bundle/ruby-complete
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/colorscheme"]
	path = vim/bundle/colorscheme
	url = https://github.com/flazz/vim-colorschemes.git
